/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


/* Add your custom styles here... */

.add_inline .address p:nth-child(1){
    margin-right: 4px!important;
}

h1,
h2,
h3,
h4 {
    font-weight: 700 !important;
}

a.fl-button {
    border-radius: 0 !important;
    color: #fff !important;
    text-transform: uppercase;
}
.removeBtn .fl-button{
	display: none!important;
}
a.fl-button,
a.fl-button:visited,
.fl-builder-content a.fl-button , div.button-wrapper a.button , div.button-wrapper a.button.alt{
    background-color: #0071b2!important;
    color: #ffffff !important;
    border: 1px solid #0071b2!important;
}

a.fl-button:hover,
.fl-builder-content a.fl-button:hover {
    background: #0071b2 !important;
    border: 1px solid #0071b2!important;
}
div.button-wrapper a.button:hover , div.button-wrapper a.button.alt:hover{
    background: #767676 !important;
    border-color: #767676 !important;
}
.fl-button-text {
    color: #fff !important;
}

.btn-white a.fl-button,
.btn-white a.fl-button:visited,
.btn-white .fl-builder-content a.fl-button {
    background: #fff !important;
    color: #0071b2 !important;
    border: 1px solid #0071b2!important;
    font-weight: 700;
}

.btn-white a.fl-button:hover,
.btn-white .fl-builder-content a.fl-button:hover {
    background: #fff !important;
    color: #0071b2 !important;
    border: 1px solid #0071b2!important;
    font-weight: 700;
}
.product-box .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn-white .fl-button-text {
    color: #0071b2 !important
}

.btn-white-header .fl-button-text-header {
    color: #0071b2 !important
}

.btn-white-header:hover .fl-button-text-header:hover {
    color: #ffffff;
    background-color: #0071b2;
}

.max-1660 {
    max-width: 1660px;
    margin: 0 auto;
}

.footer_social .social-icons{
    display: flex!important;
    justify-content: center!important;
}
.linkcustompdpbtnlink span{
	color: #000!important;
}
/* Home Main Carousel 
.fl-module-content-slider {max-width: 1660px; margin: 0 auto;}
.home-main-carousel .fl-slide-text h3{font-size: 3.4em;line-height: 1em;}
.home-main-carousel .fl-slide-content {margin-top: 140px !important;}
@media(min-width:768px) {
    .home-main-carousel .fl-slide-content img {
        margin-top: -90px;
    }
}

@media (max-width: 768px) {
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
        margin: 20px 0 !important;
        padding: 30px;
    }
}
@media (max-width: 768px)
{
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text, .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text * {
        font-size: 28px !important;
        line-height: normal !important;
    }
}

/* .main-home-carousel .fl-slide-content {margin-top: 60px !important;}
.home-main-carousel .fl-slide-0 .fl-slide-cta-button {padding-top: 0 !important;}
.home-main-carousel .fl-button {margin-top: 20px;}
.zone-3 h2, .zone-3 h3, .zone-3 p{margin: 0 !important; padding: 0 !important;}
.zone-3 {}
.zone-3 h2 {font-size: 3.4em;line-height: 1em;font-weight: 300;}
.zone-3 h3 {font-size: 4.5em; font-weight: 700;line-height: 1em;}
.zone-3 p {font-size: 1.8em;line-height: 1.5em; padding-top: 10px !important;}

.home-main-carousel.product-categories h1 {font-size: 2.8em}

.home-main-carousel.main-home .fl-slide-content {margin-top: 70px !important;}
.home-main-carousel.main-home .fl-slide-content h3 {margin-top: 120px !important;}
.home-main-carousel.main-home .bx-wrapper img {
    margin: 0 auto;
}

.home-main-carousel.main-home .fl-content-slider-navigation .slider-prev {
    left: 70px !important;
}
.home-main-carousel.main-home .fl-content-slider-navigation .slider-next {
    right: 70px !important;
}

.fl-content-slider-navigation .slider-prev {
    left: 70px;
    padding: 10px;
}
.fl-content-slider-navigation .slider-next {
    right: 70px;
    padding: 10px;
}

@media(max-width:768px){
    .home-main-carousel {
        margin-top:60px;
    }
    .home-main-carousel.fl-module-content-slider .fl-slide-cta-button {
        text-align:left;
    }
    .home-main-carousel.fl-module-content-slider .fl-slide .fl-slide-text {
        text-align:left;
    }
    .home-main-carousel.fl-module-content-slider .fl-slide .fl-slide-text h3 {
        line-height: 1em!important;
        font-size:2.7em!important;
        margin-top:50px!important;
    }

    .home-main-carousel .fl-slide-mobile-photo {
        display:none!important;
    }
    .home-main-carousel .fl-slide-content {
        background-color:transparent!important;
    }
    .home-main-carousel .fl-content-slider .fl-slide-bg-photo {
        position:absolute!important;
    }
    .home-main-carousel.fl-module-content-slider .fl-slide .fl-slide-content {
        height:350px;
    }
    .home-main-carousel.fl-module-content-slider .fl-slide img {
        display:block;
        margin:auto;
    }
    .home-main-carousel.fl-module-content-slider .bx-wrapper {

    }
    .home-main-carousel .fl-module-content>* {

    }
    .home-main-carousel .fl-content-slider-navigation {
        display:none;
    }
    .home-main-carousel .bx-wrapper .bx-pager a{
        padding:5px;
        display:block;
    }

    .home-main-carousel .fl-button {
        font-size:12px!important;
    }


}
*/


/* Carousel dots over top of slide 
@media only screen and (min-width : 768px) {
    .bx-wrapper .bx-pager {
        padding: 0;
    }

    .bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager {
        bottom: 20px !important;
    }

    .home-main-carousel .bx-wrapper .bx-pager.bx-default-pager a {
        background: transparent !important; border: 1px solid #fff;
    }

    .home-main-carousel .bx-wrapper .bx-pager.bx-default-pager a.active, .home-main-carousel .bx-wrapper .bx-pager.bx-default-pager a:focus, .home-main-carousel .bx-wrapper .bx-pager.bx-default-pager a:hover {
        background: #fff !important;
        border: 1px solid #fff;
    }

    .bx-wrapper .bx-pager.bx-default-pager a {
        background: #666;
        text-indent: -9999px;
        display: block;
        width: 12px;
        height: 12px;
        margin: 0 5px;
        outline: 0;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 8px;
    }
}
*/


/* Carousel 2 
.carousel-2 .fl-content-slider-navigation path {
    fill: #767676;
}
.carousel-2 .bx-wrapper .bx-pager.bx-default-pager a.active, .carousel-2 .bx-wrapper .bx-pager.bx-default-pager a:focus, .carousel-2 .bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: #999;
}
*/


.storename .phone a span:before{
	content:  '\f095';
	display: inline-block;
    font: normal normal normal 18px/1 FontAwesome;
	color: #fff;
	margin-right: 4px!important;
	transform: rotate(10deg);
}
.storename{
    list-style: none!important;
    padding-left: 10px!important;
}
.storename .phone a span{
    display: flex;
    align-items: center;
}
.storename .phone a{
padding: 0px!important;
}
.add_inline .address{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.call_us_footer{
    justify-content: flex-end;
}

/* Breadcrumbs */

.breadcrumbs {
    font-size: 90% !important;
    padding-top: 20px;
}

.breadcrumbs a {
    font-size: 100% !important;
}


/* Top Bar 1 */

.top-bar-1 {
    border-bottom: 1px solid #e7e7e7;
    text-align: left;
    padding: 10px 0 0 0;
    font-family: "Montserrat", sans-serif;
}

.top-bar-1 p {
    display: none;
}

.top-bar-1 a {
    color: #fff;
    font-size: 85%;
    font-weight: 300 !important;
}

.top-bar-1 a:hover,
.top-bar-1 a:active,
.top-bar-1 a:focus {
    text-decoration: none !important;
    color: #dedddd
}

.top-bar-1 ul {
    margin: 0 auto;
    padding: 0;
    text-align: left;
}

.top-bar-1 ul li {
    display: inline-block;
    list-style: none;
    padding: 0 30px 10px 30px;
}

.top-bar-link {
    text-align: center !important;
}

.top-bar-link a {
    color: #FF0000 !important;
    font-weight: 300 !important;
}

.white-link a {
    color: #fff !important;
}


/* Navagation 1 */

.nav-1 {
    margin: 0 auto;
}

.nav-1 .fl-page-nav .navbar-nav,
.fl-page-nav .navbar-nav a {
    font-weight: 700;
    font-size: 12px;
    text-align: left;
}

.nav-1 ul li {
    padding: 0 10px;
}

.nav-1 a {
    color: #2d2d2d;
}

.nav-1 a:hover,
.nav-1 a:active,
.nav-1 a:focus {
    text-decoration: none !important;
}

.nav-1 .fl-has-submenu-container {
    margin-bottom: 10px;
}

.fl-page-cart {
    position: relative;
    display: block;
    float: right;
    padding: 7px 25px;
    font-size: 1.5em;
}

.fl-page-nav-search a.fa-search {
    color: #2d2d2d;
    right: auto;
}

.fl-page-nav-search-wrap {
    position: relative;
    display: inline-block;
    text-align: right;
}

.fl-page-nav-search form {
    background-color: #ffffff;
    border-top: 3px solid #2d2d2d;
    display: none;
    position: absolute;
    right: 0;
    top: 50px;
    width: 1000px;
    z-index: 1000;
    -moz-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
}

.loc_page_add .storename{
    margin-bottom: 0px!important;
}
.loc_page_add  br{
    display: none!important;
}
ul.store-opening-hrs {
    list-style: none!important;
    padding-left: 0px!important;
}
ul.store-opening-hrs li  {
    position: relative!important;
}
ul.store-opening-hrs li span {
    position: absolute!important;
    left: 200px!important;
}


/* Nav 1 Mega Menu */

.fl-page-nav-right .fl-page-nav-wrap a,
.fl-page-nav-right .fl-page-nav-wrap a * {
    color: #2d2d2d !important;
}

.fl-page-nav-wrap .navbar-nav>li>a {
    font-weight: 700;
    color: #2d2d2d !important;
    font-size: 13px;
    text-transform: uppercase;
}

.fl-page-nav-wrap .navbar-nav>li>ul.sub-menu {
    border: none;
}

.fl-page-nav-wrap .navbar-nav>li>ul.sub-menu a {
    color: #2d2d2d !important;
}

.yawp_wim_title {
    display: none;
}

@media screen and (min-width: 992px) {
    ul.navbar-nav li.mega-menu>ul.sub-menu {
        border: none;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li {
        width: 18.5%;
        float: left;
        border-color: white;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li a {
        padding: 5px;
        color: #2d2d2d !important;
        font-size: 90%;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li.menu-item-type-yawp_wim {
        width: 26%;
        margin-bottom: -95px;
        clear: right;
    }
}

@media screen and (max-width: 991px) {
    ul.navbar-nav li.mega-menu>ul.sub-menu li>ul.sub-menu {
        display: none;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li:nth-child(4) {
        display: none;
    }
    .fl-page-nav-right .fl-page-nav-cart {
        display: none;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li {
        width: 50%;
        display: block;
        float: left;
        border-color: transparent;
    }
}

@media (max-width: 1100px) {
    .fl-page-nav .navbar-nav li>a {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 12px;
    }
}

@media (min-width: 992px) {
    .fl-page-nav-right .fl-page-nav ul.navbar-nav {
        float: none !important;
        margin-left: 20px;
    }
    ul.navbar-nav>li:not(.mega-menu)>ul.sub-menu {
        margin-left: -60%;
        text-align: center;
    }
    ul.navbar-nav>li:not(.mega-menu)>ul.sub-menu>li {
        border-bottom: 1px solid #EEEEEE;
    }
    ul.navbar-nav>li:not(.mega-menu)>ul.sub-menu>li:last-child {
        border: 0px;
    }
}

@media screen and (max-width: 768px) {
    ul.navbar-nav li.mega-menu>ul.sub-menu>li {
        width: 100%;
        float: none;
        display: block;
        border-color: #e6e6e6;
    }
    .add_inline .address{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .call_us_footer{
        justify-content: center;
    }
}

.fl-page-nav-right .fl-page-nav-search {
    float: right;
    position: relative;
}

.fl-page-nav-right .fl-page-nav-cart {
    float: right;
    position: relative;
    font-size: 20px;
    padding: 8px 15px 8px 60px;
}

.fl-page-nav-search form {
    background-color: #212121;
    border-top: 0px solid #a1c5e5;
    display: none;
    padding: 40px;
    position: absolute;
    right: -40px;
    top: 78px;
    width: 1040px;
}

@media screen and (max-width: 1099px) {
    .fl-page-nav-search form {
        background-color: #767676;
        border-top: 0px solid #a1c5e5;
        display: none;
        padding: 40px;
        position: absolute;
        right: 0;
        top: 65px;
        width: 100%;
    }
}


/* Mega Menu ShortCode */

ul.navbar-nav li.mega-menu>ul.sub-menu>li>a {
    font-weight: 700 !important;
    color: #2d2d2d !important;
}

header .fl-row-content {
    position: relative;
}

@media(min-width:1024px) {
    .sc_mega_menu ul.navbar-nav>li.menu-item-has-children>a::before {
        content: '';
        position: absolute;
        right: -5px;
        top: 50%;
        z-index: 1;
        display: block;
        width: 9px;
        height: 9px;
        margin: -5px 2px 0 0;
        border-right: 2px solid;
        border-bottom: 2px solid;
        -webkit-transform-origin: right bottom;
        -ms-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: translateX( -5px) rotate( 45deg);
        -ms-transform: translateX( -5px) rotate( 45deg);
        transform: translateX( -5px) rotate( 45deg);
        border-color: #2d2d2d;
    }
}

.sc_mega_menu .navbar-nav>li>a {
    padding: 36px 10px;
}

.sc_mega_menu ul.sub-menu li li a {
    margin: 0px;
}

.sc_mega_menu .fl-page-nav-wrap {
    border: 0px;
}

.textwidget a.acc_banner_link {
    padding: 0 !important;
}

@media(max-width:1024px) {
    .sc_mega_menu .navbar-nav>li>a {
        padding: 15px 8px;
    }
}

@media(max-width:900px) {
    .sc_mega_menu .navbar-nav>li>a {
        padding: 15px 0px;
    }
}


/* Mega Menu Full width */

@media (min-width: 768px) {
    ul.navbar-nav li.mega-menu ul.sub-menu {
        border-top: 0px solid #2d2d2d;
    }
    /*This is just removing some default styles(not required)
    .fl-page-nav UL.sub-menu
    {
        padding: 10px 0;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 0;
    }*/
    UL.navbar-nav LI.mega-menu>UL.sub-menu:after {
        content: "";
        display: block;
        position: absolute;
        left: auto;
        top: -1px;
        height: 100%;
        width: auto;
        transform: translateX(-50%);
        z-index: -1;
        box-sizing: border-box;
        /*These styles are replacing the BB style that are being over written above (not required)*/
        border-top: 1px solid #2d2d2d;
        /*+box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);*/
        -moz-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
        background-color: #fff;
    }
    .sc_mega_menu {
        margin-top: 10px;
    }
    .sc_mega_menu .mega-menu .sub-menu {
        left: 0px!important;
        position: relative;
    }
    .sc_mega_menu .navbar-nav>li.menu-item-has-children:hover::before {
        content: "▲";
        color: #fff;
        position: absolute;
        z-index: 1001;
        bottom: -5px;
        margin-left: 80%;
        text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.05);
        -webkit-transform: scale(1.5, 1);
        /* Safari and Chrome */
        -moz-transform: scale(1.5, 1);
        /* Firefox */
        -ms-transform: scale(1.5, 1);
        /* IE 9 */
        -o-transform: scale(1.5, 1);
        /* Opera */
        transform: scale(1.5, 1);
        /* W3C */
    }
    .sc_mega_menu .navbar-nav>li.mega-menu.menu-item-has-children:hover::before {
        text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.1);
    }
    .sc_mega_menu .navbar-nav>li.menu-item-19634.menu-item-has-children:hover::before {
        margin-left: 8%;
    }
    .sc_mega_menu ul.navbar-nav li.mega-menu>ul.sub-menu>li:nth-child(3) {
        border: 0px;
    }
    .sc_mega_menu ul.navbar-nav li.mega-menu>ul.sub-menu>li:nth-child(4) {
        margin-bottom: -55px;
        border: 0px;
        padding: 0 !important;
    }
    .sc_mega_menu ul.navbar-nav>li.menu-item-has-children>a::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 50px;
    }
}

@media (max-width: 768px) {
    .header-boxed-1 .fl-slide-content-wrap {
        padding: 0px;
    }
}


/* home full bar */

@media(min-width:1500px) {
    .full-bar-lg .fl-module {
        margin-left: 25%;
    }
}


/* Web Forms */

.web-form input {
    border-radius: 0 !important;
}

.web-form .gform_body label {
    font-weight: 300 !important;
}

.web-form .gform_footer {
    text-align: center !important;
}

.web-form .button {
    padding: 10px 30px;
    color: #fff!important;
    border: none !important;
}

.web-form .gform_wrapper div.validation_error {
    color: #790000 !important;
}

.web-form .textarea {
    border-radius: 0 !important;
    max-height: 120px;
}

.web-form select {
    padding: 6px !important;
}

.web-form .ginput_container_time select {
    padding: 0 !important;
}

body .gform_wrapper .gform_body .gform_fields .gfield select {
    border: 1px solid #e6e6e6;
    background-color: #FCFCFC!important;
}

.ui-datepicker-title {
    color: #333;
}

.web-form button:hover,
.web-form input[type=button]:hover,
.web-form input[type=submit]:hover {
    background: #B31A21 !important;
    border: none;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox],
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: 2px !important;
    margin-right: 5px !important;
}

.default-form h1 {
    line-height: 1em;
    font-weight: 700 !important;
    font-size: 3.3em !important;
}


/* 500 Coupon Page */

.coupon h2 {
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.coupon h1 {
    font-size: 4.5em;
    font-weight: 700;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

.coupon h3 {
    line-height: 1em;
}

.coupon h4 {
    font-size: 1.2em;
    font-weight: normal;
}


/* Tabs 1 */

.tabs-1 .fl-tabs-panels {
    border-color: transparent !important;
}

.tabs-1 .fl-tabs-label {
    border-color: transparent !important;
    width: 25%;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #DEDDDD;
    font-weight: 700;
}

.fl-tabs-label.fl-tab-active {
    border-color: transparent !important;
    color: #767676;
    font-weight: 700;
}

.fl-tabs-panel-content .row {
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -30px;
}

.tabs-1 .fl-row-fixed-width,
.tabs-1 .fl-row-content-wrap {
    max-width: 100% !important;
    margin: 20px 0 !important;
    padding: 0 !important;
}

.tabs-1 .fl-tabs-panel-content {
    padding: 0;
    margin: 0;
    width: 100%;
}

.tabs-1 .fl-tabs-panels,
.tabs-1 .fl-tabs-panel {
    border: none;
}

.fl-tabs-labels .fl-tabs-label {
    outline: none !important;
}


/* Tabs */

.tabs-2 .fl-tabs-panels {
    border-color: transparent !important;
}

.tabs-2 .fl-tabs-label {
    border-color: transparent !important;
    text-transform: uppercase;
    color: #DEDDDD;
    font-weight: 700;
}

.fl-tabs-label.fl-tab-active {
    border-color: transparent !important;
    color: #767676;
    font-weight: 700;
}

.tabs-2 .fl-tabs-labels {
    max-width: 82%;
    margin: 0 auto;
    text-align: center;
}

.tabs-3 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.tabs-3 .fl-tabs-label {
    max-width: 33%;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .tabs-3 .fl-tabs-label {
        max-width: 100%;
        white-space: nowrap;
    }
}

.tabs-3 .fl-tabs-labels {
    margin-bottom: 20px
}

.tabs-3 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 80%;
    position: absolute;
    left: 10%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #CC252A;
}

.tabs-3 .fl-tabs-labels .fl-tabs-label {
    display: table;
    width: 100%;
    border-radius: 100%;
    padding-bottom: 40px;
}

.tabs-3 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-3 .fl-tabs-labels {
    max-width: 1020px !important;
    margin: 0 auto;
}

.tabs-3 .fl-tabs-panel-content {
    padding: 0 0 40px 0!important;
    margin: 0 !important;
    background-color: #FAFAFA !important;
}

.tabs-3 .fl-tabs-panel-content .row {
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px;
}

.tabs-3 iframe {
    margin-top: -40px;
}

.tabs-4 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.tabs-4 .fl-tabs-label {
    max-width: 25%;
    margin: 0 auto;
    text-align: center;
}

.tabs-4 .fl-tabs-labels {
    margin-bottom: 20px
}

.tabs-4 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 90%;
    position: absolute;
    left: 5%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #CC252A;
}

.tabs-4 .fl-tabs-labels .fl-tabs-label {
    display: table;
    width: 100%;
    border-radius: 100%;
}

.tabs-4 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-5 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.tabs-5 .fl-tabs-label {
    max-width: 20%;
    margin: 0 auto;
    text-align: center;
}

.tabs-5 .fl-tabs-labels {
    margin-bottom: 20px
}

.tabs-5 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 90%;
    position: absolute;
    left: 5%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #CC252A;
}

.tabs-5 .fl-tabs-labels .fl-tabs-label {
    display: table;
    width: 100%;
    border-radius: 100%;
}

.tabs-5 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-products .fl-tabs-panel-content {
    padding-top: 40px !important;
}

.tabs-products h3 {
    font-size: 1.5em;
}


/*location row */

.location-row a {
    color: #808080 !important;
}

.location-top a {
    color: #2d2d2d !important;
    font-weight: 700;
}

.location-top .fl-button {
    width: 100% !important;
    text-align: center;
}


/* product row */

.product-row h4,
.product-row h5 {
    font-weight: 300;
    text-transform: uppercase;
}

.product-row h3 {
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .product-row.featured h3,
    .product-row.featured h4,
    .product-row.featured h5 {
        text-align: center !important;
    }
    .product-row.featured h4 {
        margin-bottom: 20px !important;
    }
}


/*Project Gallery */

.project-gallery .fl-photo-caption-below {
    text-align: left !important;
}


/* IMage Galleries */

.fl-post-grid-gallery {
    width: 300px;
    height: 300px;
}

.gallery-menu ul li a:hover {
    text-decoration: none;
}


/* Reviews */

.reviews h4 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.reviews img {
    margin: 0;
    padding: 0 0 5px 0;
}


/* Product Grid */

.swatch-thumb {
    max-height: 238px;
    overflow: hidden;
}

.swatch-thumb img {
    width: 100%;
    height: auto;
}

.product-grid.swatch {
    text-align: center;
}

.product-grid.rooms {
    text-align: left;
}

.product-grid.featured {
    text-align: center;
}

.product-grid.swatch h2 {
    font-weight: 700;
    margin: 0 0 10px 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.product-grid.swatch h4 {
    font-size: 10px;
    margin: 5px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    color: #929292;
}

.product-grid.rooms h2 {
    font-weight: 700;
    margin: 10px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.product-grid.rooms h4 {
    font-size: 10px;
    margin: 5px 0 5px 0;
    padding: 0;
    text-transform: uppercase;
    color: #929292;
}

.strike-price {
    color: #929292;
    text-decoration: line-through !important;
    margin-right: 10px;
}

.sale-price {
    font-weight: 700;
    color: #212121;
}

.product-grid.featured h2 {
    font-weight: 700;
    margin: 0 0 15px 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.product-grid.featured h4 {
    font-size: 10px;
    margin: 10px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    color: #929292;
}

.product-grid .fl-button {
    margin-bottom: 10px;
}

.product-grid .fl-button-text {
    font-size: 12px;
}

.product-grid a {
    text-decoration: none;
    font-size: 13px;
}

.product-grid a.link {
    color: #929292;
}

.product-grid a.link:hover {
    text-decoration: underline;
    color: #929292;
}

.product-grid a.greylink {
    color: #908c7b;
}

.product-grid a.greylink:hover {
    text-decoration: underline;
    color: #908c7b;
}

@media (max-width: 767px) {
    /* .product-grid.swatch .row>:nth-child(2n+1) {
        clear: left;
    } */
}

@media (min-width: 768px) and (max-width: 991px) {
    /* .product-grid.swatch .row>:nth-child(3n+1) {
        clear: left;
    } */
}

@media (min-width: 992px) {
    /* .product-grid.swatch .row>:nth-child(4n+1) {
        clear: left;
    } */
}

@media (min-width: 992px) {
    /* .product-grid.rooms .row>:nth-child(4n+4) {
        clear: left !important;
    } */
}

@media (min-width: 768px) and (max-width: 991px) {
    /* .product-grid.rooms .row>:nth-child(2n+1) {
        clear: left;
    } */
}
.product-detail-layout-5 .button-wrapper .button{
    display:block;
}
.product-grid .swatch-thumb img {
    width: 100%;
    height: auto;
}

.product-grid .fl-post-grid-post {
    margin-bottom: 40px;
}

.facetwp-facet select {
    width: 100%;
    padding: 10px;
}

.facetwp-selections ul li {
    font-size: 16px;
}

.facetwp-per-page {
    text-align: right !important;
}

.facetwp-per-page select {
    padding: 5px;
}

.facetwp-counts {}

.facetwp-pager {
    float: right;
}

.bottom-pager .facetwp-pager {
    float: none;
    text-align: center;
}

.facetwp-pager span.pager-text {
    font-size: 14px !important;
    padding-right: 10px;
}

.facetwp-pager span.pager-arrow {
    font-size: 28px;
}

.facetwp-pager a {
    color: #929292;
    vertical-align: middle;
}

.facetwp-pager a:hover {
    text-decoration: none;
}

.facetwp-page {
    display: inline-block;
    padding: 0px 4px;
    margin-right: 6px;
    cursor: pointer;
}

.facet_filters .facetwp-facet{ margin-bottom: 25px;}
.facet_filters strong {font-size: 16px; color: #630A0A; display: block; margin: 0 0 10px;}
.facet-inner { max-height: 350px; overflow: auto;}

.product-count {
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.9);
}

.product-box {
    text-align: left;
    padding: 2rem 2rem 3.5rem 2rem;
}

.product-box a.fl-button ,div.button-wrapper a.button , div.button-wrapper a.button.alt{
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
/*     width: 180px !important; */
    display: block;
    text-align: center;
}
.button-wrapper a:not(.button){text-align:center;}
.product-box a.fl-button:hover {
    text-decoration: none;
}

.product-box a.fl-button.btn-white {
    background-color: transparent !important;
    border-color: #554E46 !important;
}

.product-colors ul {
    margin: 15px 0 0 0;
    padding: 0;
    list-style: none;
}

.product-colors ul li {
    display: inline-block;
    text-align: left;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.product-colors ul li.found {
    font-size: 5rem;
    padding-right: 15px;
    font-weight: 300;
}

.product-atts ul {
    margin: 40px 0 0 0;
    padding: 0;
    color: #008c8c;
}

.product-atts ul li {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 20px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.product-box h1 {
    margin: 0 0 0 0;
    padding: 0;
    text-transform: none;
    font-weight: 700;
}

.product-box h2 {
    margin: 0 0 0 0;
    padding: 0;
    font-size: 1.8rem;
}

.product-atts a.fl-button {
    padding: 10px 40px;
}

.product-swatch {
    text-align: center;
}

.product-swatch .img-responsive {
    background-size: cover;
    background-position: center;
    min-height: 400px;
}

.product-swatch .img-responsive img {
    visibility: hidden;
}
.product-swatch img.img-responsive.toggle-image{
    visibility: visible;
}
.product-variations {
    margin: 80px 0 50px 0;
}

.product-variations img {
    width: 100%;
    height: auto;
}

.product-attributes {
    text-transform: capitalize;
    margin-bottom: 80px;
    margin-top: 60px;
}

img.product-logo {
    max-width: 200px;
    height: auto;
    margin-bottom: 15px;
}

.color-box {
    margin-bottom: 30px;
    line-height: normal;
    min-height: 180px;
}

.color-box small {
    font-size: 80%;
}

.product-brand {
    text-transform: uppercase;
    font-size: 0.85em;
    margin-bottom: 0;
    min-height: 20px;
    letter-spacing: 2px;
}

.faceted_results {
    margin-top: 20px;
}


/* Image Gallery Modal */
/* 
.active-gallery-modal {
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 100%;
    z-index: 1000;
}

.active-gallery-modal .fl-row-content-wrap {
    width: 1200px;
    max-width: 100%;
    margin: auto;
}

.active-gallery-modal .content {
    display: table;
    width: 100%;
    position: relative;
}

.active-gallery-modal .content>* {
    display: table-cell;
    float: none;
}

.active-gallery-modal .product-box {
    padding: 100px 50px;
    position: static;
}

.active-gallery-modal .collection {
    text-transform: uppercase;
    font-size: 14px;
}

.active-gallery-modal .fl-post-title {
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
}

.active-gallery-modal .contact_us {
    background-color: transparent!important;
}

.active-gallery-modal .contact_us span {
    color: #bca648!important;
}

.active-gallery-modal .contact_us:hover span {
    color: white!important;
}

.active-gallery-modal .col_swatch {
    background-size: cover;
}

.active-gallery-modal .close_modal {
    position: absolute;
    color: #554e46;
    font-size: 30px;
    top: 0px;
    right: 100px;
} */

.gallery-modal {
    display: none;
}

.open-gallery-modal {
    cursor: pointer;
}


/* Mobile Menus */

header .close_menu,
header .show_menu,
header .search_mobile,
header .close_search {
    display: none;
}

header .search_wrapper {
    display: none;
}

@media(max-width:768px) {
	.product-swatch .slick-slider {
	position: relative!important;
}

.product-swatch .slick-slider .prev{
	z-index: 10;
	left: -30px!important;
}
    .active-gallery-modal .content {
        display: block;
    }
    .active-gallery-modal .content>* {
        display: block;
    }
    .active-gallery-modal .col_swatch {
        width: 100%;
        height: 100vw;
        max-height: 200px;
    }
    .active-gallery-modal .close_modal {
        color: white;
        right: 10px;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    }
    .active-gallery-modal .product-box {
        padding: 30px 0px;
    }
    header .close_menu,
    header .show_menu,
    header .search_mobile,
    header .close_search {
        display: inline;
    }
    .fl-builder-content-84 {
        position: fixed;
        top: 0px;
        z-index: 30;
        height: 45px;
        overflow: hidden;
        width: 100%;
    }
    .fl-builder-content-84 .top-bar-1 {
        padding-top: 0px;
        text-align: center;
    }
    .fl-builder-content-84 .top-bar-1 .acc_banner_link {
        margin-top: -5px;
        margin-bottom: 5px;
    }
    #djcustom-header {
        top: 35px!important;
    }
    #djcustom-header {
        position: fixed!important;
        background-color: white;
    }
    #djcustom-header .fl-photo {
        max-width: 180px;
        margin: auto;
        margin-top: 5px;
        margin-bottom: -5px;
    }
    #djcustom-header .fl-module-content {
        margin: 10px 0px 0px 0px;
    }
    .sc_mega_menu {
        display: none;
    }
    .sc_mega_menu::before {
        content: "";
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: -1;
    }
    .sc_mega_menu a {
        font-weight: bold;
    }
    .sc_mega_menu .fl-page-nav-wrap {
        position: fixed;
        height: 100%;
        overflow: auto;
        width: 80%;
        background-color: white;
        z-index: 100;
        overflow-x: hidden;
    }
    .sc_mega_menu button {
        display: none;
    }
    .sc_mega_menu .fl-page-nav-collapse {
        display: block;
        visibility: visible;
    }
    .sc_mega_menu ul.sub-menu {
        position: static;
        display: none!important;
    }
    .sc_mega_menu .yawp_wim_wrap a:before {
        display: none;
    }
    .sc_mega_menu .menu-item-type-yawp_wim {
        display: none!important;
    }
    .sc_mega_menu .secondary_menu {
        /* display:none; */
        margin: 0px;
    }
    .sc_mega_menu.active .secondary_menu {
        display: block;
    }
    /*  .sc_mega_menu.active >.fl-page-nav-wrap>li {
          display:none;
      }*/
    .sc_mega_menu.active .fl-page-nav {
        display: none;
    }
    .sc_mega_menu.active .secondary_menu ul.sub-menu {
        display: block!important;
    }
    .sc_mega_menu.active .secondary_menu ul.sub-menu ul.sub-menu {
        display: none!important;
    }
    .sc_mega_menu .secondary_menu .main_link>a {
        font-weight: bold;
        background-color: #F9F9F9;
    }
    .sc_mega_menu .secondary_menu a {
        padding-left: 15px!important;
    }
    .sc_mega_menu .secondary_menu .main_link>a:before {
        content: "\f104";
        font-family: "FontAwesome";
        font-size: 16px;
        margin-right: 30px;
        margin-left: 0px;
    }
    .sc_mega_menu .secondary_menu li {
        padding: 0px;
    }
    .sc_mega_menu .has_subitems>a:after {
        content: "\f105";
        font-family: "FontAwesome";
        float: right;
        font-size: 16px;
        margin-right: 20px;
    }
    .sc_mega_menu .secondary_menu .menu-item-has-children>a {
        font-weight: bold;
    }
    .sc_mega_menu .secondary_menu .menu-item-has-children a:before {
        display: none;
    }
    .sc_mega_menu .secondary_menu .menu-item-has-children .sub-menu a {
        text-transform: none;
        font-size: 12px;
    }
    header .close_menu,
    header .show_menu,
    header .search_mobile,
    header .close_search {
        font-size: 30px;
        float: left;
        margin-left: 20px;
        line-height: 30px;
        margin-top: 10px;
        margin-bottom: -10px;
    }
    header .search_mobile,
    header .close_search {
        float: right;
        margin-right: 20px;
    }
    header .search_wrapper {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 20px 20px;
        position: relative;
        overflow: hidden;
    }
    header .search_wrapper a {
        position: absolute;
        right: 30px;
        top: 25px;
        color: #554e46;
        font-size: 20px;
    }
    header .close_search {
        display: none;
    }
    footer {
        padding: 30px 0px;
    }
    footer .fl-row-content-wrap {
        padding: 0px!important;
    }
    footer .fl-col {
        margin: 0px!important;
        max-width: none!important;
        width: 100%;
    }
    footer .fl-module-content {
        margin: 0px!important;
    }
    footer li {
        margin: 0px!important;
    }
    footer a {
        margin-bottom: 0px!important;
    }
    footer .menu>li>a {
        border-bottom: 1px solid #919191;
        padding: 20px 30px;
        display: block;
    }
    footer .menu>li.menu-item-has-children>a:after {
        content: "\f107";
        font-family: "FontAwesome";
        float: right;
        font-size: 16px;
    }
    footer .fl-widget,
    footer .menu {
        margin: 0px!important;
    }
    footer .sub-menu {
        padding: 30px;
        border-bottom: 1px solid #919191;
        display: none;
    }
    footer .sub-menu li:before {
        display: none;
    }
    footer .sub-menu a {
        color: white!important;
        font-weight: normal;
    }
    footer ul li:nth-child(1) a {
        color: white!important;
    }
    footer .fl-module-icon .fl-icon-wrap,
    footer .fl-module-heading {
        float: center;
        padding: 5px 30px;
        width: 100%;
    }
    footer .fl-module-icon .fl-icon-wrap {
        display: block;
    }
    footer .fl-icon,
    footer .fl-icon-text,
    footer .fl-icon-text p {
        display: inline;
    }
    footer .fl-icon i {
        float: none;
    }
    footer .fl-module-heading .fl-heading {
        text-align: center!important;
    }
    footer .fl-module-icon .fl-icon-wrap br {
        display: none;
    }
    footer .fl-col {
        margin-bottom: 30px!important;
    }
    .menu-footer-menu-container {
        overflow: hidden;
        padding: 10px 30px;
    }
    #menu-footer-menu {
        text-align: center;
        display: block;
    }
    #menu-footer-menu li {
        display: inline;
        float: none!important;
        border: 0px;
    }
    #menu-footer-menu a {
        border: 0px;
        display: inline!important;
        padding: 0px 10px!important;
    }
    footer .menu-footer-menu-container ul li:nth-child(1) a {
        color: #767676!important;
    }
    footer .fl-node-58b5816f53831.fl-col-small {
        color: white;
        text-align: center;
    }
}

.associations ul li {
    padding: 5px 0;
    font-weight: 700;
}


/* Footer 1 */

.footer-1-top a:hover {
    text-decoration: none;
}

.footer-1-top h3.fl-heading {
    font-weight: 700!important;
}

.footer-1-top .fl-social-icons {
    text-align: center !important;
}

.footer-1-top .fl-social-icons a.fl-icon {
    margin: 0 10px;
}


/* Slider Menu */

.slider-menu {
    position: absolute;
    right: 0px;
    z-index: 100;
    top: 0px;
    height: 460px;
    overflow: hidden;
}

.slider-menu ul {
    background-color: white;
    vertical-align: middle;
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 12px;
    line-height: 65px;
    color: #2d2d2d;
    font-weight: bold;
    margin-right: -235px;
}

.slider-menu ul li {
    overflow: hidden;
    border: 1px solid #eee;
    border-width: 0px 0px 1px 0px;
    width: 300px;
}

.slider-menu .icon {
    float: left;
    font-size: 23px;
    width: 65px;
    text-align: center;
    border: 1px solid #eee;
    border-width: 0px 1px 0px 0px;
    cursor: pointer;
}

.slider-menu .padding {
    padding: 0px 15px;
    display: block;
}

.slider-menu a {
    color: #2d2d2d;
    float: left;
}

@media(max-width:768px) {
    .slider-menu {
        display: none;
    }
}


/* Popup */

.fr_popup {
    display: none;
}

.fr_popup .bg {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.fr_popup .content {
    position: absolute;
    z-index: 1001;
    width: 100%;
}

.fr_popup .content-inner {
    width: 628px;
    background-color: white;
    overflow: auto;
    margin: auto;
}

.fr_popup .content .row-item {
    padding: 30px 50px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}

.fr_popup .content .row-item * {
    margin: 0px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.fl-photo .has_coupon .over {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
}

.fl-photo .has_coupon {
    cursor: default;
}

.fl-photo .has_coupon:hover .over {
    display: block;
}

.fl-photo .has_coupon .over-inner {
    display: table;
    height: 100%;
    width: 100%;
}

.fl-photo .has_coupon .over-inner2 {
    display: table-cell;
    vertical-align: middle;
}

.fl-photo .has_coupon .over .fl-button {
    background: #cc252a;
    font-size: 13px;
    line-height: 15px;
    padding: 10px 20px;
    color: white;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    margin-bottom: 10px;
    min-width: 140px;
    cursor: pointer;
}

.fl-photo .has_coupon .over .fl-button.white {
    border: 1px solid white;
    background-color: transparent;
}


/* TOGGLE BOX BOTTOM */

.fr_toggle_box {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
}

.fr_toggle_box .bg {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.fr_toggle_box .box_content {
    background-color: white;
    width: 100%;
    z-index: 1;
    position: fixed;
    bottom: 0px;
    display: none;
}

.fr_toggle_box .handle {
    background-color: #383838;
    padding: 20px 30px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: -66px;
    cursor: pointer;
}

.fr_toggle_box.active .handle i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.fr_toggle_box .box_content table {
    width: 70%;
    table-layout: fixed;
    margin: 0 auto;
}

.fr_toggle_box .padding {
    padding: 40px;
}

.fr_toggle_box .box {
    width: 100%;
    height: 100%;
    min-height: 275px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.fr_toggle_box .box_white {
    border: 0px solid #212121;
    color: #212121;
}

.fr_toggle_box .box_red {
    background-color: #C92830;
    color: white;
}

.fr_toggle_box .box * {
    color: inherit;
}

.fr_toggle_box td {
    padding: 0px 20px;
}

[data-fr-link] {
    cursor: pointer;
}

.fr_toggle_box .fixed_bottom {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.fr_toggle_box .fl-button {
    background: #cc252a;
    font-size: 13px;
    line-height: 15px;
    padding: 10px 20px;
    color: white;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    margin-bottom: 10px;
    cursor: pointer;
}

.fr_toggle_box .box_red .fl-button {
    background-color: white!important;
    color: #cc252a!important;
}

.fr_toggle_box .text {
    padding: 40px 0px 0px;
}

.fr_toggle_box .text * {
    margin-top: 0px;
    margin-bottom: 0px;
}

.fr_toggle_box .text h2 {
    font-size: 45px;
}

.fr_toggle_box .text p {
    margin-top: 10px;
}

@media(max-width:1024px) {
    .fr_toggle_box {
        display: none;
    }
}

/* .toggle-image-thumbnails {
    position: absolute;
    bottom: 20px;
    left: 40px;
} */

.toggle-image-thumbnails a {
    border: 3px solid white;
    width: 50px;
    height: 50px;
    display: block;
    float: left;
    margin-right: 20px;
    background-size: cover;
    background-position: center;
    transition: All 0.5s ease;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
}

.toggle-image-thumbnails a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.fr-slider {
    position: relative;
}

.fr-slider .arrow {
    position: absolute;
    font-size: 30px;
    color: #212121;
    z-index: 2;
    height: 130px;
    line-height: 130px;
    text-align: center;
    width: 30px;
    float: left;
}

.fr-slider .arrow.prev {
    left: 10px;
}

.fr-slider .arrow.next {
    right: 10px;
}

.fr-slider .slides {
    margin: 0px 40px;
}

.fr-slider .slide {
    padding: 0px 7px;
}

.fl-node-58fab51c4e4ff p a,
.fl-node-5be49ecb044f8 p a,
.fl-node-5aabf8011359b p a {
    display: block;
    padding: 1px 0;
}

a.fl-button,
a.fl-button:visited,
.fl-builder-content a.fl-button {
    background-color: #00247a!important;
    color: #ffffff !important;
    border: 1px solid #00247a!important;
}

a.fl-button:hover,
.fl-builder-content a.fl-button:hover {
    background: #fff !important;
    border: 1px solid #a0332e!important;
    color: #a0332e !important;
}

a.fl-button:hover,
.fl-builder-content a.fl-button:hover span {
    color: #a0332e !important;
}

a.fl-button:hover *,
.fl-builder-content a.fl-button:hover * {
    color: #00247a !important;
}

.btn-white a.fl-button,
.btn-white a.fl-button:visited,
.btn-white .fl-builder-content a.fl-button {
    background: #fff !important;
    color: #00247a !important;
    border: 1px solid #00247a!important;
    font-weight: 700;
}

.fl-slide-mobile-photo-img {
    min-height: 300px;
}




/* Menu  */

.fl-page-nav-right .fl-page-header-container {
    padding: 10px 0;
    max-width: 1250px;
}

.fl-node-5be4ee16d7203 .fl-heading .fl-heading-text {
    font-weight: 300;
}

.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    height: 210px;
    bottom: 0;
    margin: auto !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.fl-node-5c06883d6160a .fl-slide-0 .fl-slide-photo {
    height: 260px;
    bottom: 0;
    margin: auto !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.fl-tabs-label {
    color: #949494 !important;
}

.fl-tabs-label.fl-tab-active {
    color: #222222 !important;
}

.gform_wrapper .timeEstimate .gfield_time_hour i {
    width: 5px;
    font-weight: bolder;
    margin-top: -28px;
}

.fl-content-slider .fl-slide-bg-link{
    z-index: 999;
}


@media (max-width:1280px) {
    .tabs-products .fl-tabs-panel-content .row {
        margin: 0;
        padding: 0 15px;
    }
}

@media(max-width:768px) {
    body {
        /* padding-top:145px; */
    }
    .fr-slider .arrow {
        height: 80px;
        line-height: 80px;
    }
    .fl-node-5be4510d28a69.fl-module-heading .fl-heading {
        text-align: center;
    }
    .fl-node-5be442c535e25 {
        display: flex;
        padding: 10px 0;
        justify-content: center;
    }
    .fl-node-5be442c535e25 .fl-module-content {
        margin: 0;
    }
    .fl-node-5be442c535e25 .fl-col {
        margin: 0;
    }
    .fl-node-5be442c535e25 .fl-col.fl-node-5be5dfc9c4e3e {
        margin: 0 10px;
    }
    header .close_menu,
    header .show_menu,
    header .search_mobile,
    header .close_search {
        margin-top: 25px;
    }
    .navbar-nav>li {
        display: block;
        float: none;
    }
    nav.fl-page-nav.navbar.navbar-default,
    .fl-page-nav-collapse ul.navbar-nav {
        width: 100%;
    }
    .fl-node-5beda7e76ea83 {
        display: flex;
        justify-content: center;
    }
    .fl-node-58fab5c012487 p,
    .fl-node-58fab51c4e4ff p,
    .fl-node-5be49ecb044f8 p,
    .fl-node-5aabf8011359b p,
    .fl-social-icons {
        text-align: center !important;
    }
    .sc_mega_menu.active .secondary_menu .nav.navbar-nav.menu {
        margin: 0;
        padding: 0 15px;
    }
    .facet_filters {
        top: 0px;
        bottom: 0;
        height: auto;
    }
    .sc_mega_menu .fl-page-nav-wrap {
        top: 145px;
        bottom: 0;
        height: auto;
    }
    .fl-node-5be4895605f88 .fl-heading {
        text-align: center !important;
    }
    #sifContainer {
        width: auto !important;
        margin: 0 15px !important;
    }
    .fl-builder-content .fl-node-58b58157a16b3 h5 {
        text-align: center !important;
    }
    .fl-node-58af407a120f2 {
        max-width: 100% !important;
    }
    .fl-node-5c08bbf72601a .menu .fl-has-submenu .sub-menu {
        /* position: static; */
    }
    .web-form .gform_wrapper .timeEstimate .ginput_container_time select {
        width: 100px !important;
        max-width: 60px !important;
        white-space: nowrap;
    }
    /* mobile */
    .searchBarTop,
    .fl-page-nav-right .fl-page-nav-search {
        position: static;
    }
    .searchBarTop {
        margin: 0;
        padding: 0;
    }
    .fl-page-header-logo-col>.fl-page-nav-wrap,
    .fl-page-header-logo-col>.searchBarTop {
        flex: 1;
    }
    .fl-page-header-logo-col>.fl-page-header-logo {
        flex: 2;
    }
    .fl-page-nav-right .fl-page-header-container {
        padding: 10px 20px;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav .navbar-toggle * {
        color: #000000;
    }
    .fl-builder-content-84 {
        position: static;
        height: auto;
    }
    .fl-page-header-container.container {
        padding-top: 10px;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile.fl-page-nav-right .fl-page-header-row .fl-page-header-logo {
        padding-bottom: 0;
        text-align: center;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav .navbar-toggle {
        top: 0;
        position: static;
    }
    .navbar-toggle {
        display: block;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-header-logo {
        margin: 0;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile.fl-page-nav-right .fl-page-header-row .fl-page-header-logo-col {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .fl-page-nav-right .fl-page-nav-search {
        display: block;
    }
    .fl-page-nav-search form {
        width: calc(100vw);
        position: absolute;
        margin-left: -50vw;
        top: 100%;
        left: 50%;
    }
    .fl-node-5be442c535e25 .fl-col {
        margin: 0 10px;
    }
    .fl-builder-content .fl-node-58b58157a16b3 p {
        text-align: center !important;
    }
    .fl-node-58fab3e96409b {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .fl-node-58fab3e96409b>.fl-col {
        width: 30% !important;
    }
    .fl-node-5c07f5b4dd652 {
        text-align: center;
    }
    .fl-node-5c07f5b4dd652 .fl-col {
        margin: 0 !important;
        display: inline-block;
    }
    #sifContainer {
        display: inline-block;
    }
    .fl-node-5c07f56f679ae {
        text-align: center;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
        margin: 0 !important;
        padding: 30px;
        background: transparent;
        position: absolute;
        top: 0;
        text-align: center;
        left: 0;
        right: 0;
    }
    .toggle-image-thumbnails a {
        border: 3px solid white;
        width: 40px;
        height: 40px;
        display: block;
        float: left;
        margin-right: 5px;
        margin-top: 5px;
    }
    .facetwp-per-page {
        text-align: left !important;
    }
    .facetwp-pager {
        float: left;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
        bottom: 0;
        margin: auto !important;
    }
    .fl-col-small {
        max-width: 700px;
    }
    .plpAlignTitle {
        position: absolute;
        top: 28px;
        right: 0;
    }
	.top-bar-1 {
	display: block!important;
}
	.top-bar-1 #menu-blue-header > li:nth-child(1){
	display: none!important;
}
}

@media(max-width:567px) {
	



    ul.store-opening-hrs li span {
        position: absolute!important;
        left: auto!important;
        right: 0!important;
    }
    .plpAlignTitle {
        position: static;
    }
    body {
        /* padding-top:150px; */
    }
    .fl-node-5be442c535e25 {
        padding: 10px 20px;
    }
    #djcustom-header {
        top: 45px!important;
    }
    header .close_menu {
        /* display: none; */
    }
    .facet_filters {
        top: 0px;
    }
    .tabs-1 .fl-tabs-label {
        color: #2d2d2d;
        width: 100%;
    }
    .fl-page-nav ul.sub-menu {
        width: auto;
    }
    .fl-builder-content .fl-node-58b58157a16b3 h5,
    .fl-node-58fab48ccb679.fl-module-heading .fl-heading,
    .fl-node-58fab44d7e59e.fl-module-heading .fl-heading {
        text-align: center !important;
        font-weight: bold;
    }
    #menu-footer-menu a {
        font-size: 14px;
    }
    .fl-node-5beb43b72f056 {
        display: none;
    }
    .fl-node-5be442c535e25 {
        padding: 8px 15px;
    }
    .fl-node-5beda7e76ea83 {
        flex-direction: column;
    }
    div#sifContainer {
        width: auto;
        text-align: center;
        padding: 10px;
        margin: 0 20px;
    }
    .fl-node-58fab5c012487 {
        padding: 0 25px;
    }
    .default-form h1 {
        font-size: 34px !important;
        word-wrap: normal;
    }
    .top-bar-1 .fl-heading {
        margin: 0;
    }
    footer .fl-col.fl-node-5beda7e76ec6f {
        margin-bottom: 0 !important;
    }
    .fl-node-58fab3e96409b>.fl-col {
        width: 100% !important;
    }
    /* detail page  */
    .toggle-image-thumbnails {
        position: static;
    }
    .toggle-image-thumbnails a {
        margin: 5px;
    }
    .product-box {
        clear: both;
        text-align: center;
    }
    .color-box {
        min-height: auto;
    }
    .product-variations {
        margin: 0;
    }
    .product-attributes {
        margin-top: 0;
    }
    .product-box a.fl-button {
        width: auto !important;
    }
	.product-box {
	text-align: center!important;
}

.product-box > a{
	display: inline-block!important;
	max-width: 250px!important;
    width: 250px!important;	
        margin: 10px 0px!important;
}
.active-gallery-modal .gallerySlider{
	overflow: hidden!important;
}
	.product-box a.fl-button {
    width: 250px !important;
}
	.top-bar-1 #menu-blue-header > li{
	padding: 0px!important;
	width: 50%!important;
}
.top-bar-1 #menu-blue-header {
    width: 100%!important;
}

.top-bar-1 #menu-blue-header li{
    padding: 0px!important;
}
}
.review-iframe iframe{
    height: 650px !important;
}